*{box-sizing:border-box;}

body{
    margin:0px;
    background-color: hsl(212, 45%, 89%);
    font-size:15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
.cardqr{
    width:290px;
    height: 31em;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    /* text-align: center; */
    padding:15px;
    border-radius: 12px;
    box-shadow:  -2px 5px 15px hsl(220, 15%, 55%);
}
.cardqr__image{
    height: 59%;
    width: 100%;
    border-radius:12px;
}
.cardqr__title{
    color:hsl(218, 44%, 22%);
    font-weight: 700;
}
.cardqr__footer p{
    color:hsl(220, 15%, 55%);
    font-weight: 200;
}
.attribution { font-size: 11px; }
.attribution a { color: hsl(228, 45%, 44%); }
